---
import PageHeader from "@/components/PageHeader.astro";
import Shape from "@/components/Shape.astro";
import { createRequire } from 'module';
import CounterComponent from "@/components/about/CounterComponent.astro";
import Gallery from "@/components/about/Gallery.astro";
import OurMembers from "@/components/about/OurMembers.astro";
import Works from "@/components/about/Works.astro";
import Base from "@/layouts/Base.astro";
import { getEntryBySlug } from "astro:content";
import Notice from "@/shortcodes/Notice";
import type { plainify } from "@/lib/utils/textConverter";
import Stripe from 'stripe';


const require = createRequire(import.meta.url);
const stripe = new Stripe(import.meta.env.STRIPE_KEY);
// `${import.meta.env.VITE_STRIPE_KEY}`

let customer_name = 'customer["name"]';
let customer_email = 'customer["email"]';
let customer_phone =' customer["phone"]';
let bestTimes =' customer["phone"]';
let child_name = "customer['metadata']['childName']";
let child_age = 9;

let id;
// Astro.cookies.set("id", "cus_QBxZrNkD7rRh2r");

if (Astro.cookies.has("id")) {
  id = Astro.cookies.get("id");
  if (id?.value !=="ADMIN") {
    const customer = await stripe.customers.retrieve(id?.value);
    customer_name = customer["name"];
    customer_email = customer["email"];
    customer_phone = customer["phone"];
    child_name = customer['metadata']['childName'];
    bestTimes = customer['metadata']['bestTimes'];
    child_age = parseInt(customer['metadata']['childAge']);
  }else{return Astro.redirect("/admin")}
} else{
  return Astro.redirect("/signup")
}
const session = await stripe.billingPortal.sessions.create({
    customer: `${id?.value}`,
    return_url: 'https://stembotics.org/portal',
  });
const plink = session["url"];
const portal = await getEntryBySlug("portal", "index");
const { counter, gallery, features } = portal.data;
let dataString = JSON.stringify(portal.data);
let pBody = dataString.replaceAll('customer_name', customer_name);
pBody = pBody.replaceAll('customer_email', customer_email);
pBody = pBody.replaceAll('customer_phone', customer_phone);
pBody = pBody.replaceAll('child_name', child_name); // Handle missing metadata gracefully
pBody = pBody.replaceAll('child_age', child_age.toString());
// console.log(pBody);
const page_data = {
  ...JSON.parse(pBody),
  content: portal.body,
};

const subscriptions = await stripe.subscriptions.search({
  query: 'status:\'active\'',
});
const subData = subscriptions['data']
const custSubs = []
let planid = ""
let products = "";

for (let i =0; i < subData.length; i++) {
  if (subData[i].customer == id?.value){
    custSubs.push(subData[i]);
    planid = subData[i]["plan"]['id']
    const plan = await stripe.plans.retrieve(planid);
    const prodid = plan.product?.toString();
    const product = await stripe.products.retrieve(prodid);
    products = products + product.name + ";";
  }
}

// console.log(id?.value);
// console.log(subData);
// console.log(custSubs);
const paymentIntents = await stripe.paymentIntents.list({
  customer:id?.value,
  limit: 10,
});
console.log(products)
const intentData = paymentIntents['data'];
for (let i = 0; i < intentData.length; i++) {
  if (intentData[i]['amount']==16000){
    products = products + "vexComp;";
  } else if (intentData[i]['amount']==15000){
    products = products + "fllComp;";
  } 
}



const customerSession = await stripe.customerSessions.create({
  customer: `${id?.value}`,
  components: {
    buy_button: {
      enabled: true,
    },
  },
});
// let CLIENT_SECRET = 'cuss_secret_Q8YVe6RwmTbnrEdTZ5om7LUYd9LMiDQBxuR0XNDelt1TYe8'
let CLIENT_SECRET = (customerSession['client_secret']);

let date = "";
if (bestTimes == "thursday5pm7pm"){
  date = "Thursday from 5 pm - 7 pm";
} else if (bestTimes == "thursday7pm9pm"){
  date = "Thursday from 7 pm - 9 pm";
} else if (bestTimes == "saturday5pm7pm"){
  date = "Saturday from 5 pm - 7 pm";
} else if (bestTimes == "saturday7pm9pm"){
  date = "Saturday from 5 pm - 9 pm";
} 

---

<Base
  title={portal.data.title}
  meta_title={portal.data.meta_title}
  description={portal.data.description}
  image={portal.data.image}
>
  <Shape />
  <section class="page-hero py-16">
    <div class="container">

      <div class="page-hero-content mx-auto max-w-[768px] text-center">
        <PageHeader page_data={page_data} />

      {((products.includes("VEX IQ Plan")))&& <Notice type="note">Congratulations! {child_name} is registered in the VEX Learning plan, you now have access to the VEX Competition Plan. <a class="text-black" href="https://docs.google.com/spreadsheets/d/1Eu3as98oDpum2poeEGtB4c2cJXKcdIinRPOWN4dRd9I/edit?usp=sharing">Click for the Curriculum</a></Notice>}
      {((products.includes("FLL Plan")))&& <Notice type="note">Congratulations! {child_name} is registered in the FLL Learning plan, you now have access to the FLL Competition Plan.</Notice>}
      {((products.includes("vexComp")))&& <Notice type="note">Congratulations! {child_name} is registered in the VEX Competition plan.</Notice>}
      {((products.includes("fllComp")))&& <Notice type="note">Congratulations! {child_name} is registered in the FLL Competition plan.</Notice>}
      {(!(products.includes("VEX IQ Plan"))&&!(products.includes("FLL Plan")))&& <Notice type="note">Unfortunately {child_name} isn't registered in anything, to get access to the Competition Packages, register for a Learning plan.</Notice>}

        <p>Your next class starts on the next {date} after June 1st, 2024.</p>
        <br>
      </div>
      <!-- benifit -->

      <div class="page-hero-content mx-auto max-w-[768px] text-center">
        <h2>Available programs for {child_name}</h2>
        <p>Choose the program that best suits your needs</p>

        {!((child_age>=9) && (child_age<=14)) &&     <Notice type="warning">{child_name} is not eligible for any of our programs right now. Sorry!</Notice>      }
        <div class="mt-11 justify-center sm:flex">
        
          <a
            class="btn m-3 block sm:inline-block"
            href= `${plink}`
          >
            Manage Billing
          </a>
        
  </div>
        <div class="buy-buttons">

          <script async src="https://js.stripe.com/v3/buy-button.js"></script>
          {(!(products.includes("VEX IQ Plan")))&& 
          <stripe-buy-button
            buy-button-id="buy_btn_1PQvfaBacad2NXeVDy4OeBBx"
            publishable-key="pk_live_51P6aVDBacad2NXeVAfq9rBWO21sJ8rVicoGsTRMfa5OvmUeZmhYucMgCXYkZhiUH6ga8oRIK03PcnmzCxyMpcRk000p9aWnmDw"
            customer-session-client-secret=`${CLIENT_SECRET}`>
          </stripe-buy-button>
        }


          <script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

{((products.includes("VEX IQ Plan")))&& 
<stripe-buy-button
  buy-button-id="buy_btn_1PIHohBacad2NXeVEWslv6sw"
  publishable-key="pk_live_51P6aVDBacad2NXeVAfq9rBWO21sJ8rVicoGsTRMfa5OvmUeZmhYucMgCXYkZhiUH6ga8oRIK03PcnmzCxyMpcRk000p9aWnmDw"
  customer-session-client-secret = `${CLIENT_SECRET}`
  >
</stripe-buy-button>
}
      
          <script async
            src="https://js.stripe.com/v3/buy-button.js">
          </script>
          
          
          
          {(!(products.includes("FLL Plan")))&& 
          <stripe-buy-button
            buy-button-id="buy_btn_1PQvdyBacad2NXeVFHqgZcF6"
            publishable-key="pk_live_51P6aVDBacad2NXeVAfq9rBWO21sJ8rVicoGsTRMfa5OvmUeZmhYucMgCXYkZhiUH6ga8oRIK03PcnmzCxyMpcRk000p9aWnmDw"
            customer-session-client-secret=`${CLIENT_SECRET}`
            >
          </stripe-buy-button>}
                      <script async
              src="https://js.stripe.com/v3/buy-button.js">
            </script>

{((products.includes("FLL Plan")))&& 
<stripe-buy-button
  buy-button-id="buy_btn_1PIHoCBacad2NXeV7kbhwxVT"
  publishable-key="pk_live_51P6aVDBacad2NXeVAfq9rBWO21sJ8rVicoGsTRMfa5OvmUeZmhYucMgCXYkZhiUH6ga8oRIK03PcnmzCxyMpcRk000p9aWnmDw" 
  customer-session-client-secret=`${CLIENT_SECRET}`
>
</stripe-buy-button>
}
        </div>
      </div>
      
<br>
    </div>
  </section>
</Base>
